.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

div.down {
  margin-top: 5vh;
}

div.left {
  text-align: left;
}

div.centro {
  margin: auto;
}