.App {
  text-align: center;
}

.App-header {
  background-color: rgb(88, 14, 117);
  height: 70px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

div.down {
  margin-top: 5vh;
}

div.left {
  text-align: left;
}

div.centro {
  margin: auto;
}

div.medio {
  margin-top: 19%;
  margin-left: -40%;
}

p.rojo {
  color: red;
  font-size: 3vh;
}